<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint System</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>
    <nav>
        <img src="/logo.jpg" alt="logo" height="80px" width="80px">
        <h1>Complaint System</h1>
        <div class="nav">
            <a href="/index" class="btn">Home</a>
        </div>
        
    </nav>
    <div class="container">
        <div class="center">
            <img src="/image 4.png" alt="Customer_image">
        </div>
        
    </div>
</header>
    <div class="container2">
        <h2>Motivation behind the Complaint Management System</h2>
        <p>An initiative by the central government to fully automate the process of complaint registration where people can file their complaints from the comfort of their homes rather than going out and standing in long queues.</p>
</body>

</html>